In [1]:
import os
import gc
import numpy as np
import pandas as pd

In [3]:
train_csv = pd.read_csv("../inp/train.csv")
train_csv

        stock_id  time_id    target
0              0        5  0.004136
1              0       11  0.001445
2              0       16  0.002168
3              0       31  0.002195
4              0       62  0.001747
...          ...      ...       ...
428927       126    32751  0.003461
428928       126    32753  0.003113
428929       126    32758  0.004070
428930       126    32763  0.003357
428931       126    32767  0.002090

[428932 rows x 3 columns]

In [5]:
train_csv = train_csv.pivot(index="time_id", columns="stock_id", values="target")

In [20]:
train_csv.fillna(train_csv.mean(), inplace=True)

array([[0.00413577, 0.00634014, 0.00184755, ..., 0.00411186, 0.00191904,
        0.00806725],
       [0.00144459, 0.00209907, 0.00080592, ..., 0.00189051, 0.00112332,
        0.00396495],
       [0.00216819, 0.00245619, 0.00158111, ..., 0.00242809, 0.00154773,
        0.00316068],
       ...,
       [0.00426355, 0.00286785, 0.00118826, ..., 0.00281123, 0.00119618,
        0.00406968],
       [0.00435193, 0.00490233, 0.00487869, ..., 0.00367864, 0.00512672,
        0.00335672],
       [0.00108356, 0.00220403, 0.00116403, ..., 0.00283339, 0.00119649,
        0.00209036]])